@model Agencia_Planes.Models.TransporteEnAvion

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>TransporteEnAvion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abordo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abordo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aeroliena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aeroliena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraLlegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraLlegada)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodigoDeVuelo">Edit</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
