@model Agencia_Planes.Models.PlanViaje

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlanViaje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePlan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActividadesIncluidas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActividadesIncluidas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Costo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Costo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncluyeHospedaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncluyeHospedaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoCiudadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoCiudadNavigation.CodigoCiudad)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodigoPlan" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la Lista</a>
    </form>
</div>
