@model Agencia_Planes.Models.PlanViaje

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>PlanViaje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePlan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActividadesIncluidas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActividadesIncluidas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Costo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Costo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncluyeHospedaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncluyeHospedaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoCiudadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoCiudadNavigation.CodigoCiudad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodigoPlan">Edit</a> |
    <a asp-action="Index">Volver a la Lista</a>
</div>
